<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Railey Victuelles | Web Developer</title>

	<link rel=icon href=/pics/site-logo/favicon-FRV-LOGO.png type="image/png">

	<!-- GOOGLE FONTS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
	<!-- GOOGLE FONTS -->
	
	<!-- BOOTSTRAP 5 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<!-- BOOTSTRAP 5 -->
	
	<!-- FONT AWESOME -->
	<script src="https://kit.fontawesome.com/ad98de5722.js" crossorigin="anonymous"></script>
	<!-- FONT AWESOME -->
	<link rel="stylesheet" href="style.css">
	
</head>
<body>



	<!-- NAVBAR -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5" aria-label="Ninth navbar example">
		<div class="container-xl">
			<a class="navbar-brand" href="/"><img class="navlogo" src="/pics/site-logo/FRV-4LOGO.png"></img></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
		
			<div class="collapse navbar-collapse" id="navbarsExample07XL">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0 ml-auto text-center">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/contact" tabindex="-1" aria-disabled="true">Contact</a>
					</li>
				</ul>
		  	</div>
		</div>
	</nav>
	<!-- NAVBAR -->
		

	<!-- ABOUT -->
	<div class="container py-5">
		<div>
			<p class="h1">About Myself</p>
		</div>
		<div class="text-center">
			<p class="h5 mt-5">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem necessitatibus quas laboriosam minima ratione ex beatae ut magnam ducimus repellendus veritatis amet dolores hic, non voluptas fuga eos nesciunt nihil impedit, nam iure sed. Odit ad non, deserunt ratione officiis totam eligendi, reprehenderit sunt maiores quos dignissimos repellendus voluptate quod!
			</p>
		</div>
	</div>
	<!-- ABOUT -->

	<!-- PLACEHOLDER -->
	<div class="altcolor">
		<div class="container py-5">
			<div>
				<h1>Placeholder</h1>
			</div>
			<div class="text-center mt-5">
				<p class="h5">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nihil odio iusto itaque labore accusantium magni autem praesentium ex, facilis numquam, hic eveniet repudiandae quis illo maiores impedit soluta iste mollitia id. Porro excepturi cum debitis laboriosam quaerat nam nesciunt omnis possimus perspiciatis laudantium, amet vero nihil provident! Reiciendis, mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi suscipit omnis sapiente quo dolorum labore officiis veniam dolorem iure id, eos nemo eius voluptatibus tempore quidem corporis esse. Vitae tempora nam rerum ratione molestiae dolor laborum beatae eaque aut hic.
				</p>
			</div>
		</div>
	</div>
	<!-- PLACEHOLDER -->
	





	<!-- FOOTER -->
	<div class="footerbg navbar-light">
		<div class="container p-5">
			<div class="footertext text-center">
				<img class="navlogo mb-1" src="/pics/site-logo/FRV-4LOGO.png" alt="">
				<p class="mt-1"><b>&copy; 2022 Copyright: <a href="/">raileyvic.com</a></b></p>

			</div>
		</div>
	</div>
	<!-- FOOTER -->

		
		
		
		

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>