<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Railey Victuelles | Web Developer</title>

	<link rel=icon href=/pics/site-logo/favicon-FRV-LOGO.png type="image/png">

	<!-- GOOGLE FONTS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
	<!-- GOOGLE FONTS -->
	
	<!-- BOOTSTRAP 5 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<!-- BOOTSTRAP 5 -->
	
	<!-- FONT AWESOME -->
	<script src="https://kit.fontawesome.com/ad98de5722.js" crossorigin="anonymous"></script>
	<!-- FONT AWESOME -->
	<link rel="stylesheet" href="style.css">
	
</head>
<body>

	<!-- NAVBAR -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5" aria-label="Ninth navbar example">
		<div class="container-xl">
			<a class="navbar-brand" href="/"><img class="navlogo" src="/pics/site-logo/FRV-4LOGO.png"></img></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
		
			<div class="collapse navbar-collapse" id="navbarsExample07XL">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0 ml-auto text-center">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/contact" tabindex="-1" aria-disabled="true">Contact</a>
					</li>
				</ul>
		  	</div>
		</div>
	</nav>
	<!-- NAVBAR -->
		

	<!-- MAIN PAGE -->
	<div class="container py-5">
		<div class="h1">
			<p>Contact</p>
		</div>
		<div class="mt-2">
			<div class="contacts-grid">
				<div class="grid-item">
					<div class="card" style="width: 25em; margin: auto;">
						<div class="card-body">
							<h5 class="card-title">GitHub</h5>
							<img src="/pics/contacts/github.png" alt="GitHub Profile" class="card-img-top">
							
							<button class="btn btn-outline-dark mx-2 mt-3"><a href="https://github.com/Pilner" target="_blank" rel="noopener noreferrer"><i class="fab fa-github pe-2"></i>Github</a></button>
							</div>
					  </div>
				</div>
				<div class="grid-item">
					<div class="card" style="width: 25em; margin: auto;">
						<div class="card-body">
							<h5 class="card-title">LinkedIn</h5>
							<img src="/pics/contacts/linkedin.png" alt="LinkedIn Profile" class="card-img-top">
							<button class="btn btn-outline-dark mx-2 mt-3"><a href="https://github.com/Pilner" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></button>
							</div>
					  </div>
				</div>
				<div class="grid-item">
					<div class="card" style="width: 25em; margin: auto;">
						<div class="card-body">
							<h5 class="card-title">Facebook</h5>
							<img src="/pics/contacts/fb.png" alt="Facebook Profile" class="card-img-top">
							<button class="btn btn-outline-dark mx-2 mt-3"><a href="https://github.com/Pilner" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i> Facebook</a></button>
						</div>
					  </div>
				</div>
			</div>
		</div>
	</div>

	<div class="altcolor">
		<div class="container p-5">
			<div class="h1">
				<p>You can also reach out by:</p>
			</div>
			<div class="mt-2">
				<div class="alt-contacts-grid">
					<div class="grid-item">
						<div class="card bg-dark" style="width: 25em; margin: auto;">
							<div class="card-body">
								<h5 class="card-title">Email</h5>
								<img src="/pics/contacts/github.png" alt="GitHub Profile" class="card-img-top">
								
								<button id="email" class="btn btn-outline-light mx-2 mt-3" name="raileyvictuelles@gmail.com"><span class="visible"><i class="fa-solid fa-envelope"></i> raileyvictuelles@gmail.com</span><span class="invisible">Copied</span></button>
								</div>
						  </div>
					</div>
					<div class="grid-item">
						<div class="card bg-dark" style="width: 25em; margin: auto;">
							<div class="card-body">
								<h5 class="card-title">Phone</h5>
								<img src="/pics/contacts/github.png" alt="GitHub Profile" class="card-img-top">
								
								<button id="phone" class="btn btn-outline-light mx-2 mt-3" name="(+63)950-249-0986"><span class="visible"><i class="fa-solid fa-square-phone"></i> (+63)950-249-0986</span><span class="invisible">Copied</span></button>
							</div>
						</div>
					</div>	
				</div>
			</div>

		</div>
	</div>


	<!-- MAIN PAGE -->


	<!-- FOOTER -->
	<div class="footerbg navbar-light">
		<div class="container p-5">
			<div class="footertext text-center">
				<img class="navlogo mb-1" src="/pics/site-logo/FRV-4LOGO.png" alt="">
				<p class="mt-1"><b>&copy; 2022 Copyright: <a href="/">raileyvic.com</a></b></p>

			</div>
		</div>
	</div>
	<!-- FOOTER -->

		
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/mainscript.js"></script>
</body>
</html>