<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:image" content="/pics/social-meta.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">

	<title>Railey Victuelles | Web Developer</title>

	<link rel=icon href="/pics/site-logo/favicon-FRV-LOGO.png" media="(prefers-color-scheme: light)" type="image/png">

	<link rel=icon href="/pics/site-logo/FRV-logo-light.png" media="(prefers-color-scheme: dark)" type="image/png">

	<!-- GOOGLE FONTS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&display=swap" rel="stylesheet">
	<!-- GOOGLE FONTS -->
	
	<!-- BOOTSTRAP 5.2.0 -->
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"> -->
	<!-- BOOTSTRAP 5.2.0 -->
	
	<!-- FONT AWESOME -->
	<script src="https://kit.fontawesome.com/ad98de5722.js" crossorigin="anonymous"></script>
	<!-- FONT AWESOME -->
	<link rel="stylesheet" href="style.css">
</head>
<body>
		
	<!-- HERO SECTION -->
	<section class="hero-page">
		<div class="container">
			<div class="parallax-container" id="hero-scene">
				<div data-depth="0.15">
					<img class="hero-logo" src="/pics/site-logo/FRV-4LOGO.png" alt="Hero Logo">
					<p class="hero-title">Uh oh</p>
					<p class="hero-text">You reached a dead end! 😔</p>
				</div>
			</div>
		</div>

	</section>
	<!-- HERO SECTION -->


	<!-- FOOTER -->
	<div class="footer">
		<div class="container">
			<div>
				<img class="site-logo-sm" src="/pics/site-logo/FRV-logo-light.png" alt="">
				<p class=""><b>&copy; 2022 Copyright: <a href="/"></a></b></p>
			</div>
		</div>
	</div>
	<!-- FOOTER -->

		
		
		
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>

	<script src="https://kit.fontawesome.com/ad98de5722.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/mainscript.js"></script>
</body>
</html>