<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Railey Victuelles | Web Developer</title>

	<link rel=icon href=/pics/site-logo/favicon-FRV-LOGO.png type="image/png">

	<!-- GOOGLE FONTS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
	<!-- GOOGLE FONTS -->
	
	<!-- BOOTSTRAP 5 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<!-- BOOTSTRAP 5 -->
	
	<!-- FONT AWESOME -->
	<script src="https://kit.fontawesome.com/ad98de5722.js" crossorigin="anonymous"></script>
	<!-- FONT AWESOME -->
	<link rel="stylesheet" href="style.css">
	
</head>
<body>

	<!-- NAVBAR -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5" aria-label="Ninth navbar example">
		<div class="container-xl">
			<a class="navbar-brand" href="/"><img class="navlogo" src="/pics/site-logo/FRV-4LOGO.png"></img></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
		
			<div class="collapse navbar-collapse" id="navbarsExample07XL">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0 ml-auto">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Contact</a>
					</li>
				</ul>
		  	</div>
		</div>
	</nav>
	<!-- NAVBAR -->
		

	<!-- MAIN PAGE -->
	<div class="container">
		<div class="text-center">
			<img class="mainlogo" src="/pics/site-logo/FRV-4LOGO.png" alt="Main Logo">
		</div>
		<p class="display-2 pt-2 text-center">Hi! I'm Railey</p>
		<p class="pt-1 pb-4 lead text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero tempora amet modi velit?</p>
		<div class="text-center">
			<!-- <img class="m-auto" src="/pics/melodynitylogo.png" alt=""> -->

		</div>
	</div>
	<!-- MAIN PAGE -->

	
	<!-- WORKS -->
	<div class="altcolor">
		<div class="container p-5">
			<div>
				<p class="h1">Some of My Works</p>
			</div>
			<div class="row mt-5">
				<div class="col">
					<div class="text-center">
						<p class="h5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt laudantium nihil reiciendis id eaque quam odit alias similique fugiat, illum, illo vero doloremque sunt corrupti iste perspiciatis! Deserunt tempora nostrum impedit, ex facilis fugit, neque aliquid possimus voluptate, quibusdam vitae optio ut illum quis libero unde inventore itaque nulla voluptatem.</p>
					</div>
				</div>
				<div class="col">
					<div class="text-center">
						<p class="h5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt laudantium nihil reiciendis id eaque quam odit alias similique fugiat, illum, illo vero doloremque sunt corrupti iste perspiciatis! Deserunt tempora nostrum impedit, ex facilis fugit, neque aliquid possimus voluptate, quibusdam vitae optio ut illum quis libero unde inventore itaque nulla voluptatem.</p>
					</div>
				</div>
			</div>
			<div class="text-center mt-4">
				<button class="btn btn-outline-light mx-2"><a href="#"><i class="fas fa-eye pe-2"></i>View All</a></button>
				<button class="btn btn-outline-light mx-2"><a href="https://github.com/Pilner" target="_blank" rel="noopener noreferrer"><i class="fab fa-github pe-2"></i>Github</a></button>
			</div>
		</div>
	</div>
	<!-- WORKS -->
	
	<!-- INTRODUCTION -->
	<div class="intropage">
		<div class="container p-5">
			<div class="text-center">
				<p class="display-5">Enough About That. Introduce Yourself!</p>
				<p class="h5 mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, distinctio dolores esse tenetur, optio est exercitationem ex natus in incidunt voluptatem cum culpa blanditiis dignissimos magni sunt explicabo fuga! Corrupti amet maiores ipsum rerum quo atque distinctio debitis labore repudiandae sunt unde rem odit magnam officia neque, numquam, exercitationem quaerat!</p>
			</div>
		</div>
	</div>
	<!-- INTRODUCTION -->

	<!-- TOOLS -->
	<div class="altcolor">
		<div class="container p-5">
			<div>
				<p class="h1">Proficient in:</p>
			</div>

			<div class="mt-5">
				<div class="brighten">
					<div class="grid-item">
						<a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank">
							<img class="logoitems" src="/pics/html.svg" alt="html">
						</a>
					</div>
					<div class="grid-item">
						<a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
							<img class="logoitems" src="/pics/css.svg" alt="css">
						</a>
					</div>
					<div class="grid-item">
						<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
							<img class="logoitems" src="/pics/js.svg" alt="js">
						</a>
					</div>
					<div class="grid-item">
						<a href="https://nodejs.org/en/" target="_blank">
							<img class="logoitems" src="/pics/nodejs.svg" alt="nodejs">
						</a>
					</div>
					<div class="grid-item">
						<a href="https://www.mongodb.com/" target="_blank">
							<img class="logoitems" src="/pics/mongodb.svg" alt="mongodb">
						</a>
					</div>
				</div>

			</div>

		</div>
	</div>
	<!-- TOOLS -->
	
	
	<!-- MELODYNITY -->
	<div class="melodynitypage">
		<div class="container p-5">
			<div>
				<p class="h1">Check out my music!</p>
			</div>
			<div class="text-center py-5 melodynityimg">
				<img src="/pics/melodynitylogo.png" alt="Melodynity Logo">
			</div>
			<div class="text-center melodynitybtns">
				<button class="btn btn-outline-dark mx-2"><a href="#"><img class="melodynityicon pe-2 mb-1" src="/pics/melodynityICON.png">Website</a></button>
				<button class="btn btn-outline-dark mx-2"><a href="https://soundcloud.com/melodynity"><i class="fab fa-soundcloud pe-2"></i>Soundcloud</a></button>
				<button class="btn btn-outline-dark mx-2"><a href="https://www.youtube.com/channel/UCQhfkcqH3_9t-DItavYGtqw"><i class="fab fa-youtube pe-2"></i>Youtube</a></button>
			</div>
		</div>
	</div>
	<!-- MELODYNITY -->

	<!-- PLACEHOLDER -->
	<div class="altcolor">
		<div class="container p-5">
			<div>
				<h1>Placeholder</h1>
			</div>
			<div class="text-center mt-5">
				<p class="h5">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nihil odio iusto itaque labore accusantium magni autem praesentium ex, facilis numquam, hic eveniet repudiandae quis illo maiores impedit soluta iste mollitia id. Porro excepturi cum debitis laboriosam quaerat nam nesciunt omnis possimus perspiciatis laudantium, amet vero nihil provident! Reiciendis, mollitia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi suscipit omnis sapiente quo dolorum labore officiis veniam dolorem iure id, eos nemo eius voluptatibus tempore quidem corporis esse. Vitae tempora nam rerum ratione molestiae dolor laborum beatae eaque aut hic.
				</p>
			</div>
		</div>
	</div>
	<!-- PLACEHOLDER -->




	<!-- FOOTER -->
	<div class="footerbg navbar-light">
		<div class="container p-5">
			<div class="footertext text-center">
				<img class="navlogo mb-1" src="/pics/site-logo/FRV-4LOGO.png" alt="">
				<p class="mt-1"><b>&copy; 2022 Copyright: <a href="/">raileyvic.com</a></b></p>

			</div>
		</div>
	</div>
	<!-- FOOTER -->

		
		
		
		

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/mainscript.js"></script>
</body>
</html>