<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:image" content="/images/social-meta.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">

	<title>Railey Victuelles | Web Developer</title>

	<link rel=icon href="/images/site-logo/favicon-FRV-LOGO.png" media="(prefers-color-scheme: light)" type="image/png">

	<link rel=icon href="/images/site-logo/FRV-logo-light.png" media="(prefers-color-scheme: dark)" type="image/png">

	<!-- GOOGLE FONTS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&display=swap" rel="stylesheet">
	<!-- GOOGLE FONTS -->
	
	<!-- FONT AWESOME -->
	<script src="https://kit.fontawesome.com/ad98de5722.js" crossorigin="anonymous"></script>
	<!-- FONT AWESOME -->
	<link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

	<div id="preloader"></div>

	<nav id="navbar">
		<div id="navbar-menu" class="hidden-menu">
			<a href="#hero-page" id="hero-menu" class="nav-button-main-light">
				<i class="fa-solid fa-bars"></i>
			</a>
			<a href="#works" id="works-menu" class="nav-button-main-light">
				<i class="fa-solid fa-diagram-project"></i>
			</a>
			<a href="#introduction" id="intro-menu" class="nav-button-main-light">
				<i class="fa-solid fa-user"></i>
			</a>
			<a href="#tools" id="tools-menu" class="nav-button-main-light">
				<i class="fa-solid fa-terminal"></i>
			</a>
			<a href="#contact" id="contact-menu" class="nav-button-main-light">
				<i class="fa-solid fa-address-book"></i>
			</a>

			<div id="navbar-percent"></div>
		</div>
	</nav>
		
	<!-- HERO SECTION -->
	<section id="hero-page">
		<div class="container">
			<div class="parallax-container" id="hero-scene">
				<div data-depth="0.15">
					<img class="hero-logo" src="/images/site-logo/FRV-4LOGO.png" alt="Hero Logo">
					<p class="hero-title">Hi! I'm Railey</p>
					<p class="hero-text">"A programmer is one that can do things in many ways."</p>
				</div>
			</div>
		</div>

	</section>
	<!-- HERO SECTION -->
	
	
	<!-- WORKS -->
	<section id="works" class="hidden">
		<div class="spacer-1"></div>
		<div>
			<p class="alt-topic-title topic-position hidden-slide">Some of my latest works</p>
			<div class="container">
				<div class="grid-container">
					<div class="grid-item">
	
						<div class="hidden">
							<div class="works-text">
								<div class="body-title project-name">
									<p class="skeleton skeleton-text"></p>
								</div>
								<ul class="body-text project-text">
									<p class="skeleton skeleton-text"></p>
									<p class="skeleton skeleton-text"></p>
								</ul>
							</div>
							<div class="works-link">
								<a class="button-dark-full project-link" href="#" target="_blank" rel="noopener noreferrer">View Project</a>
							</div>
						</div>
						<div class="hidden">
							<div class="works-text">
								<div class="body-title project-name">
									<p class="skeleton skeleton-text"></p>
								</div>
								<ul class="body-text project-text">
									<p class="skeleton skeleton-text"></p>
									<p class="skeleton skeleton-text"></p>
								</ul>
							</div>
							<div class="works-link">
								<a class="button-dark-full project-link" href="#" target="_blank" rel="noopener noreferrer">View Project</a>
							</div>
						</div>
						<div class="hidden">
							<div class="works-text">
								<div class="body-title project-name">
									<p class="skeleton skeleton-text"></p>
								</div>
								<ul class="body-text project-text">
									<p class="skeleton skeleton-text"></p>
									<p class="skeleton skeleton-text"></p>
								</ul>
							</div>
							<div class="works-link">
								<a class="button-dark-full project-link" href="#" target="_blank" rel="noopener noreferrer">View Project</a>
							</div>
						</div>
						<div class="hidden">
							<div class="works-text">
								<div class="body-title project-name">
									<p class="skeleton skeleton-text"></p>
								</div>
								<ul class="body-text project-text">
									<p class="skeleton skeleton-text"></p>
									<p class="skeleton skeleton-text"></p>
								</ul>
							</div>
							<div class="works-link">
								<a class="button-dark-full project-link" href="#" target="_blank" rel="noopener noreferrer">View Project</a>
							</div>
						</div>
	
					</div>
					<div class="grid-item">
						<p class="body-title">Coming Soon!</p>
					</div>
				</div>
				<div class="works-buttons">
						<a href="https://github.com/Pilner" class="button-light" target="_blank" rel="noopener noreferrer">
							<i class="fab fa-github pe-2"></i> View More on Github
						</a>
				</div>
			</div>
		</div>
		<div class="spacer-2"></div>
	</section>
	<!-- WORKS -->
	
	
	
	<!-- INTRODUCTION -->
	<section id="introduction" class="hidden">
		<p class="topic-title topic-position hidden-slide">Enough about that. Introduce Yourself!</p>
		<div class="container">
			<div class="grid-container">
				<div class="grid-item">
					<p class="body-text hidden">Hi! My name is Fabian Railey Victuelles! A <span id="age">0</span> year-old programmer based in the Philippines.</p>
					<p class="body-text hidden">I am a second-year student from the Polytechnic University of the Philippines studying BS Computer Science.</p>
					<p class="body-text hidden">I am a programmer that can code on languages like Java, JavaScript, C, and C++. I can also do Full-Stack as a Web Developer with the <span class="tooltip" data-tooltip="(MongoDB, Express.js, Node.js)">M-E-N</span> stack. I am what they call an enthusiastic coder who focuses on what needed to be fixed and developed with no loose threads attached.</p>
					<p class="body-text hidden">I like coding.</p>
				</div>
				<div class="grid-item hidden">
					<div id="intro-pic-scene">
						<img id="intro-pic" data-depth="0.15" src="/images/self-pictures/introduction-pic2.jpg" alt="">
					</div>
					<img id="intro-pic-bg" src="/images/background/intro-pic-bg.svg" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- INTRODUCTION -->

	<!-- TOOLS -->
	<section id="tools" class="hidden">
		<div class="spacer-1"></div>
		<div>
			<p class="alt-topic-title topic-position hidden-slide">Environments:</p>
			<div class="container">
				<div class="grid-container languages">
					<div class="tool-title">
						<p class="body-title"><span class="tooltip" data-tooltip="Sets of syntactic instructions to program applications">Languages</span></p>
					</div>
					<div class="grid-item">
						<a href="https://www.javascript.com/" target="_blank">
							<img class="tool-items" src="/images/tools/svg/js.svg" alt="javascript">
						</a>
					</div>
					<div class="grid-item">
						<a href="https://www.open-std.org/jtc1/sc22/wg14/" target="_blank">
							<img class="tool-items" src="/images/tools/svg/c.svg" alt="C">
						</a>
					</div>
					<div class="grid-item">
						<a href="https://cplusplus.com/" target="_blank">
							<img class="tool-items" src="/images/tools/svg/cpp.svg" alt="C++">
						</a>
					</div>
					<div class="grid-item">
						<a href="https://www.java.com/en/" target="_blank">
							<img class="tool-items" src="/images/tools/svg/java.svg" alt="jquery">
						</a>
					</div>
				</div>
				<div class="grid-container stacks">
					<div class="tool-title">
						<p class="body-title"><span class="tooltip" data-tooltip="Combination of technologies that completely build and run applications">Stacks</span></p>
					</div>
					<div class="grid-item">
						<a href="https://www.mongodb.com/" target="_blank">
							<img class="tool-items" src="/images/tools/svg/mongodb.svg" alt="mongodb">
						</a>
					</div>
					<div class="grid-item">
						<a href="https://expressjs.com/" target="_blank">
							<img class="tool-items" src="/images/tools/png/express.png" alt="ExpressJS">
						</a>
					</div>
					<div class="grid-item">
						<a href="https://nodejs.org/en/" target="_blank">
							<img class="tool-items" src="/images/tools/svg/nodejs.svg" alt="NodeJS">
						</a>
					</div>
				</div>
				<div class="grid-container workspaces">
					<div class="tool-title">
						<p class="body-title"><span class="tooltip" data-tooltip="Technologies I use to get the job done">Workspaces</span></p>
					</div>
					<div class="grid-item">
						<a href="https://www.microsoft.com/en-us/windows" target="_blank">
							<img class="tool-items" src="/images/tools/svg/windows.svg" alt="Windows">
						</a>
					</div>
					<div class="grid-item">
						<a href="https://code.visualstudio.com/" target="_blank">
							<img class="tool-items" src="/images/tools/svg/vscode.svg" alt="VS Code">
						</a>
					</div>
					<div class="grid-item">
						<a href="https://www.vim.org/" target="_blank">
							<img class="tool-items" src="/images/tools/svg/vim.svg" alt="Vim">
						</a>
					</div>
					<div class="grid-item">
						<a href="https://ubuntu.com/wsl" target="_blank">
							<img class="tool-items" src="/images/tools/svg/linux.svg" alt="WSL">
						</a>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- TOOLS -->

	<!-- CONTACT -->
	<section id="contact" class="hidden">
		<div class="container">
			<div class="contact-light">
				<div>
					<p class="topic-title hidden">Contact me:</p>
				</div>
				<div>
					<div class="grid-container">
						<div class="grid-item">
							<div class="contact-img">
								<img src="/images/contacts/github.png" alt="GitHub Profile">
							</div>
							<div class="contact-body">
								<p class="alt-body-title">Github</p>
								<a href="https://github.com/Pilner" class="button-light" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i> Github</a>
							</div>
						</div>
						<div class="grid-item">
							<div class="contact-img">
								<img src="/images/contacts/linkedin.png" alt="LinkedIn Profile">
							</div>
							<div class="contact-body">
								<p class="alt-body-title">LinkedIn</p>
								<a href="https://www.linkedin.com/in/pilner/" class="button-light" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i> LinkedIn</a>
							</div>
						</div>
						<div class="grid-item">
							<div class="contact-img">
								<img src="/images/contacts/fb.png" alt="Facebook Profile">
							</div>
							<div class="contact-body">
								<p class="alt-body-title">Facebook</p>
								<a href="https://facebook.com/hahahalatado" class="button-light" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i> Facebook</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="contact-dark">
				<div class="wrapper">
					<div>
						<p class="alt-topic-title">You can also reach out by:</p>
					</div>
					<div>
						<div class="grid-container">
							<div class="grid-item">
								<div class="contact-body">
									<p class="body-title">Email</p>
									<button id="emailButton" class="button-dark tooltip" data-tooltip="Click to Copy!" value="raileyvictuelles@gmail.com"><span class="visible"><i class="fa-solid fa-envelope"></i> raileyvictuelles@gmail.com</span><span class="invisible">Copied</span></button>
								</div>
							</div>
							<div class="grid-item">
								<div class="contact-body">
									<p class="body-title">Phone</p>
									<button id="phoneButton" class="button-dark tooltip" data-tooltip="Click to Copy!" value="(+63)950-249-0986"><span class="visible"><i class="fa-solid fa-square-phone"></i> (+63)950-249-0986</span><span class="invisible">Copied</span></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- CONTACT -->



	<!-- FOOTER -->
	<div class="footer">
		<div class="container">
			<div>
				<img class="site-logo-sm" src="/images/site-logo/FRV-logo-light.png" alt="">
				<p class=""><b>&copy; 2022<a href="/"></a></b></p>
			</div>
		</div>
	</div>
	<!-- FOOTER -->

		
		
		
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
	<script type="text/javascript" src="javascripts/mainscript.js"></script>
</body>
</html>