<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Railey Victuelles | Web Developer</title>

	<link rel=icon href="/pics/site-logo/favicon-FRV-LOGO.png" media="(prefers-color-scheme: light)" type="image/png">

	<link rel=icon href="/pics/site-logo/FRV-logo-light.png" media="(prefers-color-scheme: dark)" type="image/png">

	<!-- GOOGLE FONTS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;0,900;1,200;1,400;1,700;1,900&display=swap" rel="stylesheet">
	<!-- GOOGLE FONTS -->
	
	<!-- BOOTSTRAP 5.2.0 -->
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"> -->
	<!-- BOOTSTRAP 5.2.0 -->
	
	<!-- FONT AWESOME -->
	<script src="https://kit.fontawesome.com/ad98de5722.js" crossorigin="anonymous"></script>
	<!-- FONT AWESOME -->
	<link rel="stylesheet" href="style.css">
</head>
<body>
		
	<!-- HERO SECTION -->
	<section class="hero-page">
		<div class="container">
			<div>

				<img class="hero-logo" src="/pics/site-logo/FRV-4LOGO.png" alt="Hero Logo">
				<p class="hero-title">Hi! I'm Railey</p>
				<p class="hero-text">"A programmer is one that can do things in many ways."</p>
			</div>
		</div>

	</section>
	<!-- HERO SECTION -->
	
	
	<!-- WORKS -->
	<section class="works hidden">
		<div class="spacer-1"></div>
		<p class="alt-topic-title hidden-slide">Some of My Works</p>
		<div class="container">
			<div class="grid-container">
				<div class="grid-item">
					<div class="works-img">
						<img src="/pics/site-logo/FRV-4LOGO.png" alt="">
					</div>
					<div class="works-text">
						<div>
							<p class="body-title">Personal Portfolio Website</p>
							<p class="body-text">My personal website that acts as my credentials.</p>
						</div>
					</div>
				</div>
				<div class="grid-item">
					<div class="works-img">
						<img src="/pics/melodynityICON.png" alt="">
					</div>
					<div class="works-text">
						<p class="body-title">Melodynity Website</p>
						<p class="body-text">A website for my music.</p>
					</div>
				</div>
				<div class="grid-item">
					<div class="works-img">
						<img src="/pics/site-logo/FRV-4LOGO.png" alt="">
					</div>
					<div class="works-text">
						<div>
							<p class="body-title">Personal Portfolio Website</p>
							<p class="body-text">My personal website that acts as my credentials.</p>
						</div>
					</div>
				</div>
				<div class="grid-item">
					<div class="works-img">
						<img src="/pics/melodynityICON.png" alt="">
					</div>
					<div class="works-text">
						<p class="body-title">Melodynity Website</p>
						<p class="body-text">A website for my music.</p>
					</div>
				</div>
			</div>
			<div class="works-buttons">
					<a href="#" class="button-light">
						<i class="fas fa-eye pe-2"></i> View All
					</a>
					<a href="https://github.com/Pilner" class="button-light" target="_blank" rel="noopener noreferrer">
						<i class="fab fa-github pe-2"></i> Github
					</a>
			</div>
		</div>
		<div class="spacer-2"></div>
	</section>
	<!-- WORKS -->
	
	
	
	<!-- INTRODUCTION -->
	<secion class="introduction hidden">
		<p class="topic-title hidden-slide">Enough About That. Introduce Yourself!</p>
		<div class="container">
			<div class="grid-container">
				<div class="grid-item">
					<p class="body-text">Hi! My name is Fabian Railey Victuelles! A programmer based in the Philippines.</p>
					<p class="body-text">I am a first-year student from the Polytechnic University of the Philippines studying BS Computer Science.</p>
					<p class="body-text">I am a programmer that can code on languages like JavaScript, C, and C++. I can also do Full-Stack as a Web Developer with the <span data-popover="(MongoDB, Express.js, Node.js)">M-E-N</span> stack. I am what they call an enthusiastic coder who focuses on what needed to be fixed and developed with no loose threads attached.</p>
					<p class="body-text">I like coding.</p>
				</div>
				<div class="grid-item">
					<img src="/pics/self-pictures/introduction-pic2.jpg" alt="">
				</div>
			</div>
		</div>
	</secion>
	<!-- INTRODUCTION -->

	<!-- TOOLS -->
	<section class="tools hidden">
		<div class="spacer-1"></div>
		<p class="alt-topic-title hidden-slide">Proficient in:</p>
		<div class="container">
			<div class="grid-container-img">
				<div class="grid-item">
					<a href="https://nodejs.org/en/" target="_blank">
						<img class="tool-items" src="/pics/nodejs.svg" alt="nodejs">
					</a>
				</div>
				<div class="grid-item">
					<a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">
						<img class="tool-items" src="/pics/jquery.png" alt="jquery">
					</a>
				</div>
				<div class="grid-item">
					<a href="https://www.mongodb.com/" target="_blank">
						<img class="tool-items" src="/pics/mongodb.svg" alt="mongodb">
					</a>
				</div>
				<div class="grid-item">
					<a href="https://www.open-std.org/jtc1/sc22/wg14/" target="_blank">
						<img class="tool-items" src="/pics/c.svg" alt="C">
					</a>
				</div>
				<div class="grid-item">
					<a href="https://cplusplus.com/" target="_blank">
						<img class="tool-items" src="/pics/cpp.svg" alt="C++">
					</a>
				</div>
			</div>
			<div class="grid-container-body">
				<div class="grid-item">
					<ul>
						<li class="body-text">Studied from Colt Steele's Web Developer Bootcamp.</li>
						<li class="body-text">Has a vast knowledge on how APIs work.</li>
					</ul>
				</div>
				<div class="grid-item">
					<ul>
						<li class="body-text">Can do things using the MEN Stack</li>
						<li class="body-text">Can easily convert Vanilla JavaScript to JQuery and vice versa</li>
					</ul>

				</div>
				<div class="grid-item">
					<ul>
						<li class="body-text">Studied from Colt Steele's Web Developer Bootcamp</li>
						<li class="body-text">Able to implement CRUD API</li>
					</ul>

				</div>
				<div class="grid-item">
					<ul>
						<li class="body-text">Taken lessons in Computer Programming classes</li>
					</ul>

				</div>
				<div class="grid-item">
					<ul>
						<li class="body-text">Likes to do Competitive Programming on free time.</li>
					</ul>

				</div>
			</div>
		</div>
	</section>
	<!-- TOOLS -->

	<!-- CONTACT -->
	<section class="contact hidden">
		<div class="container">
			<div class="contact-light">
				<div>
					<p class="topic-title">Contact me:</p>
				</div>
				<div>
					<div class="grid-container">
						<div class="grid-item">
							<div class="contact-img">
								<img src="/pics/contacts/github.png" alt="GitHub Profile">
							</div>
							<div class="contact-body">
								<p class="alt-body-title">Github</p>
								<a href="https://github.com/Pilner" class="button-light" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i> Github</a>
							</div>
						</div>
						<div class="grid-item">
							<div class="contact-img">
								<img src="/pics/contacts/linkedin.png" alt="LinkedIn Profile">
							</div>
							<div class="contact-body">
								<p class="alt-body-title">Github</p>
								<a href="https://www.linkedin.com/in/pilner/" class="button-light" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i> LinkedIn</a>
							</div>
						</div>
						<div class="grid-item">
							<div class="contact-img">
								<img src="/pics/contacts/fb.png" alt="Facebook Profile">
							</div>
							<div class="contact-body">
								<p class="alt-body-title">Facebook</p>
								<a href="https://facebook.com/hahahalatado" class="button-light" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i> Facebook</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="contact-dark">
				<div class="wrapper">
					<div>
						<p class="alt-topic-title">You can also reach out by:</p>
					</div>
					<div>
						<div class="grid-container">
							<div class="grid-item">
								<div class="contact-body">
									<p class="body-title">Email</p>
									<button id="email" class="button-dark" name="raileyvictuelles@gmail.com"><span class="visible"><i class="fa-solid fa-envelope"></i> raileyvictuelles@gmail.com</span><span class="invisible">Copied</span></button>
								</div>
							</div>
							<div class="grid-item">
								<div class="contact-body">
									<p class="body-title">Phone</p>
									<button id="phone" class="button-dark" name="(+63)950-249-0986"><span class="visible"><i class="fa-solid fa-square-phone"></i> (+63)950-249-0986</span><span class="invisible">Copied</span></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- CONTACT -->



	<!-- FOOTER -->
	<div class="footer">
		<div class="container">
			<div>
				<img class="site-logo-sm" src="/pics/site-logo/FRV-logo-light.png" alt="">
				<p class=""><b>&copy; 2022 Copyright: <a href="/"></a></b></p>
			</div>
		</div>
	</div>
	<!-- FOOTER -->

		
		
		
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>

	<script src="https://kit.fontawesome.com/ad98de5722.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/mainscript.js"></script>
</body>
</html>