/* VARIABLES */
:root {
	--main-font: "Nunito", sans-serif;
	--bg-dark: #1d1d1d;
	--bg-light: #DFDFDF;
	--black: #101010;
	--white: #EFEFEF;
	--main-accent: #001133;
	--sub-accent: #332200;
}
/* VARIABLES */

/* SETUP */
body, html, p{
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--main-font);
	font-family: "Nunito", sans-serif; /* Fallback for legacy browsers */
	width: 100%;
	background: #FFFFFF;
	}

body::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	color: inherit;
}

/* SETUP */


/* GENERAL */
.container {
	/* border: 1px solid red; */
	width: 60%;
	/* height: 60%; */
	margin: 0 auto;
}
.button-light {
	padding: 10px 25px;
	color: var(--white);
	background: none;
	font-family: var(--main-font);
	font-family: "Nunito", sans-serif; /* Fallback for legacy browsers */
	font-size: 16px;
	font-weight: 400;
	border: 1px solid var(--white);
	border-radius: 5px;
	margin: 0 .5em;
	box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.1), 0 0 10px rgba(255, 255, 255, .3);
	cursor: pointer;
}
.button-light:hover {
	background-color: var(--bg-light);
	color: var(--black);
	transition: .1s;
}
.button-light:not(:hover) {
	transition: .1s;
}
.button-dark {
	padding: 10px 25px;
	color: var(--black);
	background: none;
	font-family: var(--main-font);
	font-family: "Nunito", sans-serif; /* Fallback for legacy browsers */
	font-size: 16px;
	font-weight: 400;
	border: 1px solid var(--black);
	border-radius: 5px;
	margin: 0 .5em;
	box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.1), 0 0 10px rgba(255, 255, 255, .3);
	cursor: pointer;
	
}
.button-dark:hover {
	background-color: var(--bg-dark);
	color: var(--white);
	transition: .1s;
}
.button-dark:not(:hover) {
	transition: .1s;
}
.hero-title {
	color: var(--main-accent);
	font-size: 60px;
	font-weight: 400;
	text-shadow: -3px 3px 5px rgba(0, 0, 0, .3);
	margin: 1em 0;
}
.hero-text {
	color: var(--main-accent);
	font-size: 25px;
	text-shadow: -3px 3px 5px rgba(0, 0, 0, .3);

}
.body-title {
	color: var(--black);
	font-size: 24px;
	font-weight: 700;
	margin: 1em 0;
}
.body-text {
	color: var(--black);
	font-size: 18px;
	margin: 1em 0;
}
.alt-body-title {
	color: var(--white);
	font-size: 24px;
	font-weight: 700;
	margin: 1em 0;
}
.alt-body-text {
	color: var(--white);
	font-size: 18px;
	margin: 1em 0;
}
.topic-title {
	color: var(--black);
	font-size: 36px;
	text-shadow: -3px 3px 5px rgba(0, 0, 0, .3);
}

.alt-topic-title {
	color: var(--white);
	font-size: 36px;
	text-shadow: -3px 3px 5px rgba(0, 0, 0, .3);
}
.grid-container {
	display: grid;
}
/* GENERAL */

/* SPACER */
.spacer-1 {
	aspect-ratio: 960/100;
	width: 100%;
	background-image: url(./pics/background/bg-transition-1.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	z-index: 1;
	top: -10em;
}

.spacer-2 {
	aspect-ratio: 960/100;
	width: 100%;
	background-image: url(./pics/background/bg-transition-2.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	z-index: 1;
	bottom: -10em;
}
/* SPACER */

/* SCROLL ANIMATION */
.hidden {
	opacity: 0;
	filter: blur(2px);
	transition: 1s;
}
.show {
	filter: blur(0);
	opacity: 1;
}

.hidden-slide {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);	
	transition: all 1s ease-out;
}
.show-slide {
	transform: translateX(0);
	filter: blur(0);
	opacity: 1;
}
/* SCROLL ANIMATION */




/* NAVBAR */
.site-logo-sm {
	height: 2.5em;
}
.nav-item {
	font-size: 1.2em;
	margin: 0 20px;
}
.nav-item a {
	border-bottom: 3px dotted rgba(0, 0, 0, 0);
}
.nav-item a:hover {
	border-bottom: 3px dotted black;
}
/* NAVBAR */




/* HERO SECTION */
.hero-page {
	text-align: center;
	margin: 0 auto;
	height: 100vh;
}

.hero-page > .container {
	/* border: 1px solid black; */
	height: 100%;
	display: flex;
	align-items: center;
	justify-items: center;
}

.hero-page .container .parallax-container div > p.hero-title {
	margin-top: 0;
}

.hero-page .container .parallax-container div > p.hero-text {
	margin-bottom: 2.5em;
}

.parallax-container {
	/* margin: 0 auto; */
	width: 100%;
}

.hero-page .container .parallax-container div img.hero-logo {
	height: 20em;
}

/* HERO SECTION */

/* WORKPAGE */
.works {
	background-color: var(--bg-dark);
	color: var(--bg-light);
	margin-top: 10em;
	/* padding: 2.5em 0; */
	height: 120vh;
	display: grid;
	align-items: center;
	justify-items: center;
	position: relative;
}
.works p.alt-topic-title {
	position: absolute;
	left: 7em;
	top: 3em;
}

.works .grid-container {
	grid-template-columns: 1fr 1fr;
	margin: 2.5em auto;
	justify-items: center;
}


.works .grid-container .grid-item {
	margin: 1em 0;
	height: 35vh;
	width: 50vh;
	background-color: var(--bg-light);
	border-radius: 10px;
}
.works .grid-container .grid-item .works-img > img {
	object-fit: contain;
	height: 100%;
	width: 100%;
}
.works .grid-container .grid-item .works-img {
	height: 70%;
	/* padding: 1em; */
	box-sizing: border-box;
}
.works .grid-container .grid-item .works-text {
	height: 30%;
	text-align: center;
}

.works .container .works-buttons {
	text-align: center;
}

.works .container .works-buttons button {
	margin: 2.5em .5em;
}
/* WORKPAGE */

/* INTRODUCTION */
.introduction {
	/* background-color: var(--bg-light); */
	/* padding: 2.5em 0; */
	margin-top: 10em;
	height: 120vh;
	display: grid;
	align-items: center;
	justify-items: center;
	position: relative;

}

.introduction  p.topic-title {
	text-align: center;
	margin-bottom: 1em;
	position: absolute;
	left: 7em;
	top: 3em;

}
.introduction .grid-container {
	grid-template-columns: 1fr 1fr;
}


.introduction .grid-container .grid-item {
	width: 100%;
	height: 100%;
	display: grid;
	place-content: center;
}

.introduction .grid-container .grid-item img {
	width: 80%;
	height: auto;
	position: relative;
	box-shadow: -3px 3px 5px rgba(0, 0, 0, .3);
}

.introduction .grid-container .grid-item:last-child {
	display: grid;
	place-items: end;
}


/* INTRODUCTION */

/* TOOLS */
.tools {
	background-color: var(--bg-dark);
	color: var(--bg-light);
	/* padding: 2.5em 0; */
	margin-top: 10em;
	height: 120vh;
	display: grid;
	align-items: center;
	justify-items: center;
	position: relative;

}

.tools p.alt-topic-title {
	position: absolute;
	left: 7em;
	top: 3em;

}

.tools .container .grid-container-img {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	background-color: var(--bg-light);
	padding: 3em 0;
	margin: 0 auto;
	width: 98.5%;
	border-radius: 20px 20px 0 0;
}

.tools .container .grid-container-img .grid-item {
	text-align: center;
}

.tools .container .grid-container-body {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	background-color: white;
	margin: 0 auto;
	width: 98.5%;
	border-radius: 0 0 20px 20px;
}

.tools .container .grid-container-body ul {
	/* list-style: none; */
	padding: 0 2.5em;
	margin: 0;
	text-align: center;

}

.tools .container .grid-container-body .grid-item {
	text-align: center;
}
.tools .container .grid-container-body .grid-item:not(:first-child, :last-child) {
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
}
.tools .container .grid-container-body .grid-item:first-child {
	border-right: 1px solid #CCC;
}
.tools .container .grid-container-body .grid-item:last-child {
	border-left: 1px solid #CCC;
}


.tool-items {
	height: 8em;
	transition: transform .2s;
}
.tool-items:hover {
	-ms-transform: scale(1.3); /* IE 9 */
	-webkit-transform: scale(1.3); /* Safari 3-8 */
	transform: scale(1.3); 
}
/* TOOLS */

/* CONTACT */
.contact {
	background-color: var(--bg-light);
	height: 100vh;
	display: grid;
	align-items: center;
	justify-items: center;

	/* padding: 2.5em 0; */
}
.contact .container div > p.topic-title, .contact .container div > p.alt-topic-title {
	text-align: center;
}
.contact .container .contact-light div .grid-container {
	padding: 3em 0;
	border-radius: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0 20px;
	justify-items: start;
}
.contact .container .contact-light div .grid-container .grid-item {
	margin: 0 auto;
	background-color: var(--bg-dark);
	padding: 1em 2em 2.5em 2em;
	border-radius: 10px;
}
.contact .container .contact-light div .grid-container .grid-item .contact-img {
	height: 70%;
}
.contact .container .contact-light div .grid-container .grid-item .contact-body {
	height: 30%;
	text-align: center;
}
.contact .container .contact-light div .grid-container .grid-item .contact-img img {
	object-fit: contain;
	height: 100%;
	width: 100%;
}
.contact .container .contact-light div .grid-container .grid-item .contact-body p.alt-body-title {
	margin-top: .5em;
}



.contact .container .contact-dark .wrapper {
	background-color: var(--bg-dark);
	border-radius: 10px;
}
.contact .container .contact-dark .wrapper div .grid-container {
	grid-template-columns: 1fr 1fr;
	gap: 0 20px;
	padding: 3em 0;
	border-radius: 20px;
	justify-items: center;
}
.contact .container .contact-dark .wrapper div .grid-container .grid-item {
	background-color: var(--bg-light);
	padding: 1em 2em 2.5em 2em;
	border-radius: 10px;
	width: 60%;
	/* margin: 0 2.5em; */
	text-align: center;
}
.contact .container .contact-dark .wrapper div .grid-container .grid-item .contact-body p.body-title {
	margin-top: .5em;
}
.contact .container .contact-dark .wrapper div p.alt-topic-title {
	padding-top: .5em;
}


.visible {
	display:inline-block;
	width: 15em;
	animation: fadeIn 0.5s ease-in-out;
}
.invisible {
	display: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	/* animation: fadeIn 0.5s; */
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* CONTACT */






/* FOOTER */
.footer {
	background-color: var(--bg-dark);
	padding: 2.5em;
}
.footer .container div {
	text-align: center;
}

.footer .container div p {
	color: var(--white);
	font-family: var(--main-font);
	font-family: "Nunito", sans-serif;
	font-size: 12px;
}

.footer .container div img {
	
}

/* FOOTER */